apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: myapp
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://github.com/Manojmano36/appscrip-devops-task.git
    targetRevision: main
    path: k8s/home/manoj/eks-cluster/eks-cluster-with-terraform-main/manifests   # folder where deployment, service, ingress YAML exist

  destination:
    server: https://kubernetes.default.svc
    namespace: default

  syncPolicy:
    automated:
      prune: true
      selfHeal: true

    syncOptions:
    - CreateNamespace=true
